/*.input
{
	position: relative;
    top: 6px;
}

.input__control
{
	width: 300px;
	border-style: solid;
	border-top-color: red;
	border-bottom: none;
	border-right: none;
	border-left-color: red;
	border-left-width: 1px; 
	border-top-width: 1px;
	font-family: sans-serif, Arial;
}*/


