.info
{

	margin-top: 0;
	margin-right: 1%;
	margin-left: 2%;

	position: relative;
    overflow: auto;
    display: block;
    height: 600px;

}
 
.info__left
{
  float: left;
  width: 73%;
  border-right: 1px solid red;
  min-height: 600px;


}
 
.info__right
{
	float: right;
	margin-right: 2%;
    width: 24%;
	min-height: 300px;
	position: relative;

}